In [35]:
import numpy as np
import pandas as pd

In [36]:

cakades = ['arief','junaedi','yadi']
criteria = ['TJawab','Jujur','Disiplin']
print('PERBANDINGAN KRITERIA')

relatif_kriteria= np.array([
            [1,     3,      8],
            [1/3,   1,      3],
            [1/8,   1/3,    1]],dtype=np.float64)

pd.DataFrame(relatif_kriteria,columns=criteria,index=criteria)

PERBANDINGAN KRITERIA

            TJawab     Jujur  Disiplin
TJawab    1.000000  3.000000       8.0
Jujur     0.333333  1.000000       3.0
Disiplin  0.125000  0.333333       1.0

In [37]:
print('EIGENVECTOR')

# most_important_factor = (relatif_kriteria @ relatif_kriteria)

# most_important_factor = np.sum(most_important_factor,axis=1)

# most_important_factor = most_important_factor/np.sum(most_important_factor)

most_important_factor = np.average(relatif_kriteria @ relatif_kriteria,axis=1)
# most_important_factor 

pd.DataFrame(most_important_factor,index=criteria)

EIGENVECTOR

                  0
TJawab    12.222222
Jujur      4.236111
Disiplin   1.467593

In [46]:
a,b=np.linalg.eig(relatif_kriteria)
# pd.DataFrame()
m = np.array([[   1,    5, 5, 5,   3,   3],
              [ 1/5,    1, 1, 1, 1/3, 1/3],
              [ 1/5,    1, 1, 1, 1/3, 1/3],
              [ 1/5,    1, 1, 1, 1/3, 1/3],
              [ 1/3,    3, 3, 3,   1,   1],
              [ 1/3,    3, 3, 3,   1,   1],
              ])
mx = m/np.sum(m,axis=0)


pd.DataFrame(mx)

          0         1         2         3         4         5
0  0.441176  0.357143  0.357143  0.357143  0.500000  0.500000
1  0.088235  0.071429  0.071429  0.071429  0.055556  0.055556
2  0.088235  0.071429  0.071429  0.071429  0.055556  0.055556
3  0.088235  0.071429  0.071429  0.071429  0.055556  0.055556
4  0.147059  0.214286  0.214286  0.214286  0.166667  0.166667
5  0.147059  0.214286  0.214286  0.214286  0.166667  0.166667

In [48]:
mavg = np.average(mx,axis=1)
pd.DataFrame(mavg)

          0
0  0.418768
1  0.068939
2  0.068939
3  0.068939
4  0.187208
5  0.187208

In [49]:
m @ mavg

array([2.57609711, 0.41537504, 0.41537504, 0.41537504, 1.13445378,
       1.13445378])