In [1]:
import numpy as np

In [2]:
matrix = np.array([[1, 3, 5],
                   [1/3, 1, 2],
                   [1/5, 1/2, 1]])

In [4]:
normalized_matrix = matrix / matrix.sum(axis=0)
normalized_matrix

array([[0.65217391, 0.66666667, 0.625     ],
       [0.2173913 , 0.22222222, 0.25      ],
       [0.13043478, 0.11111111, 0.125     ]])

In [6]:
weights =  normalized_matrix.mean(axis=1)
weights

array([0.64794686, 0.22987118, 0.12218196])

In [9]:
import numpy as np
import pandas as pd
alternatives = np.array([[1,2,3],[3,2,1],[2,2,2]]) 
alternatives
orangs = ['arief','junaedi','yadi']
crits = ['TJ','Ju','Dis']
print('Perbandingan Kriteria')
criterias= np.array([[1,3,8],
            [(1/3),1,3],
            [(1/8),(1/3),1]],dtype=np.float64)
pd.DataFrame(criterias,columns=crits,index=crits)

Perbandingan Kriteria

           TJ        Ju  Dis
TJ   1.000000  3.000000  8.0
Ju   0.333333  1.000000  3.0
Dis  0.125000  0.333333  1.0

In [11]:

print('TANGGUNG JAWAB')
pd.DataFrame(np.ones((3,3)),columns=orangs,index=orangs)

TANGGUNG JAWAB

         arief  junaedi  yadi
arief      1.0      1.0   1.0
junaedi    1.0      1.0   1.0
yadi       1.0      1.0   1.0