In [138]:
import pandas as pd
import numpy as np

In [139]:
initial_investment = 88_000_000_000
proyeksi = 100
a = 91122010 * np.full(proyeksi,1.1).cumprod()
b = 9112201 * np.full(proyeksi,1.09).cumprod()
c = np.array((a,b),dtype='int')
# a
investment  = pd.DataFrame(c.transpose(),columns=['penjualan','hpp'])
investment.index+=1
# investment

In [140]:
investment['laba/rugi'] = investment['penjualan'] - investment['hpp']
investment['pajak'] = investment['laba/rugi'] *(3/10)
investment['cashflow'] = investment['laba/rugi'] - investment['pajak']
# investment.columns=['penjualan','hp   p','laba/rugi','pajak','cashflow']
investment

         penjualan          hpp      laba/rugi         pajak      cashflow
1        100234211      9932299       90301912  2.709057e+07  6.321134e+07
2        110257632     10826206       99431426  2.982943e+07  6.960200e+07
3        121283395     11800564      109482831  3.284485e+07  7.663798e+07
4        133411734     12862615      120549119  3.616474e+07  8.438438e+07
5        146752908     14020250      132732658  3.981980e+07  9.291286e+07
..             ...          ...            ...           ...           ...
96    857671672314  35691688440   821979983874  2.465940e+11  5.753860e+11
97    943438839545  38903940400   904534899145  2.713605e+11  6.331744e+11
98   1037782723500  42405295036   995377428464  2.986132e+11  6.967642e+11
99   1141560995850  46221771589  1095339224261  3.286018e+11  7.667375e+11
100  1255717095435  50381731032  1205335364403  3.616006e+11  8.437348e+11

[100 rows x 5 columns]

In [141]:
import locale

# Set the locale for your desired formatting (e.g., en_US for US English)
locale.setlocale(locale.LC_ALL, 'en_US')

# number = 1234567890
# formatted_number = locale.format_string("%d", number, grouping=True)

# print(formatted_number)

'en_US'

In [142]:
locale.format_string("%d", investment['cashflow'].sum(), grouping=True)

'9,241,272,126,842'

In [143]:
import numpy_financial as npf
npv = npf.npv(.11,[-initial_investment]+investment['cashflow'])

locale.format_string("%d", npv, grouping=True)

'-883,659,675,895'

In [144]:
irr = npf.irr([-initial_investment]+investment['cashflow'])
irr

0.001223914917511948

In [145]:
npv/initial_investment

-10.041587226089046

In [146]:
education_expenses = [4e6] * 6 + [8e6] * 3 + [20e6] * 4
wedding_expenses = 100e6  # Update this value with your desired wedding expenses

interest_rate = 0.045

# education_expenses

In [147]:

education_months = 48
education_target = npf.fv(interest_rate / 12, education_months, 0, -sum(education_expenses))
education_savings = npf.pmt(interest_rate / 12, education_months, 0, education_target)
# education_expenses,education_target,education_savings

In [168]:
wedding_months = 120# Assuming 1 year until the wedding
wedding_target = npf.fv(interest_rate / 12, wedding_months, 0, -wedding_expenses)
wedding_savings = npf.pmt(interest_rate / 12, wedding_months, 0, wedding_target)

print('save for wedding',locale.format_string("%d", -wedding_savings, grouping=True))
print('save for wedding',locale.format_string("%d", wedding_target, grouping=True))
# print('save for education',locale.format_string("%d", -education_savings, grouping=True))

save for wedding 1,036,384
save for wedding 156,699,277