In [142]:
import numpy as np
import pandas as pd

In [143]:


criteria = ['TJawab','Jujur','Disiplin']
print('PERBANDINGAN KRITERIA')

relatif_kriteria= np.array([
            [1,     3,      8],
            [1/3,   1,      3],
            [1/8,   1/3,    1]],dtype=np.float64)

pd.DataFrame(relatif_kriteria,columns=criteria,index=criteria)

PERBANDINGAN KRITERIA

            TJawab     Jujur  Disiplin
TJawab    1.000000  3.000000       8.0
Jujur     0.333333  1.000000       3.0
Disiplin  0.125000  0.333333       1.0

In [144]:
# a,b=np.linalg.eig(relatif_kriteria)
# pd.DataFrame()
print('MEMBAGI dengan JUMLAH per KOLOM')

mx = relatif_kriteria/np.sum(relatif_kriteria,axis=0)


pd.DataFrame(mx,index=criteria,columns=criteria)

MEMBAGI dengan JUMLAH per KOLOM

            TJawab     Jujur  Disiplin
TJawab    0.685714  0.692308  0.666667
Jujur     0.228571  0.230769  0.250000
Disiplin  0.085714  0.076923  0.083333

In [145]:
print('Vektor RATA-RATA')
mavg = np.average(mx,axis=1)
pd.DataFrame(mavg,index=criteria)

Vektor RATA-RATA

                 0
TJawab    0.681563
Jujur     0.236447
Disiplin  0.081990

In [146]:
print('hasil kali matriks relatif dengan vektor rata-rata')
vkv = relatif_kriteria @ mavg 

pd.DataFrame(vkv)

hasil kali matriks relatif dengan vektor rata-rata

          0
0  2.046825
1  0.709605
2  0.246001

Diketahui untuk $n = 3$ (jumlah kriteria)  nilai $R.I.  = 0.52$

In [147]:
print("UJI KONSISTENSI")
RI = .52
t = (1/3)*np.sum(vkv/mavg)

CI  = (t - 3) /2
print('NILAI CI')
CI

UJI KONSISTENSI
NILAI CI

0.0007710391494797353

maka $\frac{CI}{RI_3} = .... \leq 0.1$

In [148]:
print('CI/RI konsisten')
CI/RI

CI/RI konsisten

0.001482767595153337

In [149]:
print('Perbandingan Relatif Antar CAKADES')
print('tanggung Jawab')
CAKADES = ['arief','junaedi','yadi']
TJ = np.array([
    [1,       1/2,      3],
    [2,       1,        5],
    [1/3,     1/5,      1]],dtype=np.float64)

pd.DataFrame(TJ,columns=CAKADES,index=CAKADES)

Perbandingan Relatif Antar CAKADES
tanggung Jawab

            arief  junaedi  yadi
arief    1.000000      0.5   3.0
junaedi  2.000000      1.0   5.0
yadi     0.333333      0.2   1.0

In [150]:
print('Jujur')

Jujur = np.array([
    [1,       1/4,      1/4],
    [4,       1,        1/2],
    [4,       2,        1]],dtype=np.float64)

pd.DataFrame(Jujur,columns=CAKADES,index=CAKADES)

Jujur

         arief  junaedi  yadi
arief      1.0     0.25  0.25
junaedi    4.0     1.00  0.50
yadi       4.0     2.00  1.00

In [151]:
print('Disiplin')

Dis = np.array([
    [1,       1/4,      1/3],
    [4,       1,        1/2],
    [3,       2,        1]],dtype=np.float64)

pd.DataFrame(Dis,columns=CAKADES,index=CAKADES)

Disiplin

         arief  junaedi      yadi
arief      1.0     0.25  0.333333
junaedi    4.0     1.00  0.500000
yadi       3.0     2.00  1.000000

In [152]:
print('NORMALISASI  tanggung jawab')
nTJ = np.average(TJ/np.sum(TJ,axis=0),axis=1)


pd.DataFrame(nTJ,index=CAKADES)

NORMALISASI  tanggung jawab

                0
arief    0.309150
junaedi  0.581264
yadi     0.109586

In [153]:
print('NORMALISASI  jujur')
nJujur = np.average(Jujur/np.sum(Jujur,axis=0),axis=1)


pd.DataFrame(nJujur,index=CAKADES)

NORMALISASI  jujur

                0
arief    0.110297
junaedi  0.345950
yadi     0.543753

In [154]:
print('NORMALISASI  Disiplin')
nDis = np.average(Dis/np.sum(Dis,axis=0),axis=1)


pd.DataFrame(nDis,index=CAKADES)

NORMALISASI  Disiplin

                0
arief    0.127914
junaedi  0.360140
yadi     0.511946

In [155]:
print('Menentukan Pilihan Terbaik Dengan Mengalikan dengan Vektor Rata-rata')
print('Matriks Alternatif:...')
joined = np.array([nTJ,nJujur,nDis],dtype=np.float64)
pd.DataFrame(joined,index=CAKADES,columns=criteria)

Menentukan Pilihan Terbaik Dengan Mengalikan dengan Vektor Rata-rata
Matriks Alternatif:...

           TJawab     Jujur  Disiplin
arief    0.309150  0.581264  0.109586
junaedi  0.110297  0.345950  0.543753
yadi     0.127914  0.360140  0.511946

In [156]:
print('Vektor Rata-rata/bobot per kriteria')
pd.DataFrame(mavg,index=criteria,columns=['bobot'])

Vektor Rata-rata/bobot per kriteria

             bobot
TJawab    0.681563
Jujur     0.236447
Disiplin  0.081990

In [157]:
from scipy.stats import rankdata

res = joined @ mavg
rank = rankdata(-res, method='ordinal')
rank = rank[:, np.newaxis]
res = np.concatenate((res.reshape(-1, 1), rank), axis=1)
print('setelah dilakukan perhitungan pak Arief adlah yang paling cocok')
pd.DataFrame(res,columns=['bobot','ranking'],index=CAKADES)

setelah dilakukan perhitungan pak Arief adlah yang paling cocok

            bobot  ranking
arief    0.357128      1.0
junaedi  0.201556      3.0
yadi     0.214310      2.0